In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('disney_movies.csv.xls', encoding_errors = 'ignore')

In [8]:
df.columns

Index(['movie_title', 'release_date', 'genre', 'mpaa_rating', 'total_gross',
       'inflation_adjusted_gross'],
      dtype='object')

In [11]:
df.to_excel('output_file.xlsx', index=False)

**Cleaning Data**

In [37]:
df.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross,is_franchise,release_year,release_month
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251,False,1937,December
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052,False,1940,February
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808,False,1940,November
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579,False,1946,November
4,Cinderella,1950-02-15,Drama,G,85000000,920608730,False,1950,February

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_title               579 non-null    object
 1   release_date              579 non-null    object
 2   genre                     562 non-null    object
 3   mpaa_rating               523 non-null    object
 4   total_gross               579 non-null    int64
 5   inflation_adjusted_gross  579 non-null    int64
dtypes: int64(2), object(4)
memory usage: 27.3+ KB

In [14]:
df.describe()

        total_gross  inflation_adjusted_gross
count  5.790000e+02              5.790000e+02
mean   6.470179e+07              1.187625e+08
std    9.301301e+07              2.860853e+08
min    0.000000e+00              0.000000e+00
25%    1.278886e+07              2.274123e+07
50%    3.070245e+07              5.515978e+07
75%    7.570903e+07              1.192020e+08
max    9.366622e+08              5.228953e+09

In [39]:
df.shape

(579, 9)

In [18]:
df.duplicated().sum()

np.int64(0)

In [35]:
df.isnull()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross,is_franchise,release_year,release_month
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
574,False,False,False,False,False,False,False,False,False
575,False,False,False,False,False,False,False,False,False
576,False,False,False,False,False,False,False,False,False
577,False,False,False,False,False,False,False,False,False
578,False,False,False,False,False,False,False,False,False

In [27]:
df.isnull().sum()

movie_title                 0
release_date                0
genre                       0
mpaa_rating                 0
total_gross                 0
inflation_adjusted_gross    0
dtype: int64

In [ ]:
df['mpaa_rating']=df['mpaa_rating'].fillna('Not Rated')

In [26]:
df['genre'] = df['genre'].fillna('Other')

In [36]:

keywords = ['2', '3', 'Live Action', 'Remake', 'Part']
df['is_franchise'] = df['movie_title'].str.contains('|'.join(keywords), case=False)

In [32]:
df.dropna(subset=['is_franchise'], inplace=True)

In [34]:
df['release_date'] = pd.to_datetime(df['release_date'])

df['release_year'] = df['release_date'].dt.year
df['release_month'] = df['release_date'].dt.month_name()

In [41]:
df['inflation_multiplier'] = df['inflation_adjusted_gross'] / df['total_gross']

In [43]:
df.dtypes

movie_title                         object
release_date                datetime64[ns]
genre                               object
mpaa_rating                         object
total_gross                          int64
inflation_adjusted_gross             int64
is_franchise                          bool
release_year                         int32
release_month                       object
inflation_multiplier               float64
dtype: object

In [42]:
df.to_csv('disney_movies_cleaned.csv', index=False)
df.to_excel('disney_movies_cleaned.xlsx', index=False)